.about {
  position: relative;
  text-align: center;
  padding-bottom: 20vh;
  padding-top: 4.5em;
}

.about-container {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 1);
}

.about-content {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-text {
  top: 0;
  padding: 2em;
  p {
    padding-bottom: 1.5em;
    text-align: left;
  }
  h4 {
    font-style: italic;
    text-align: left;
  }
  h1 {
    margin-bottom: 0;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ryan {
  height: 50vh;
  max-height: 400px;
  object-fit: contain;
  display: none;
  border-color: rgb(28,121,179);
  border-width: 3px;
  border-style: solid;
}

.about-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ryan-small {
  height: 100px;
  width: 100px;
  margin-right: 1em;
  margin-bottom: 1em;
  display: inline-block;
  border-color: rgb(28,121,179);
  border-width: 2px;
  border-style: solid;
}

@media (min-width: 56.25em) {
  .ryan {
    display: block;
  }
  .ryan-small {
    display: none;
  }
}

@media (min-width: 43.75em) {
  .about-end {
    flex-direction: row;
    align-items: flex-start;
  }
}