.about {
  position: relative;
  text-align: center;
  min-height: 100vh;
}

.about-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/ryan_v2.jpg);
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  background-color: #97ab6f;
  top: 0;
  right: 0;
  object-fit: cover;
  z-index: -1;
}

.about-text-container {
  margin-right: 2em;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

@media (min-width: 43.75em) {
  .about-text-container {
    margin-right: 440px;
  }

  .about-background {
    background-position: right top;
  }
}


.about-text {
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 2em;
  padding: 2em;
  margin-top: 4.5em;
  margin-bottom: 4.5em;
  p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: left;
  }
  h4 {
    font-style: italic;
    text-align: left;
  }
  h1 {
    margin-bottom: 0;
  }
}
