.contact {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  background-color: rgb(28,121,179);
  h1,h3 {
    color: white;
  }
  h1 {
    padding-top: 1em;
    font-size: 2em;
  }
}

.contact-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  div {
    padding-right: .5em;
    padding-left: .5em;
  }
}

.icon {
  fill: currentColor;
  color: white;
  width: 2.5em;
  height: 2.5em;
  transition: color .2s;
}

.icon:hover {
  color: rgb(175,204,122);
}
