.header {
  background-color:   white; //#E8E8E8;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  height: 4rem;
  border-bottom: 1px;
  border-color: #A0A0A0; //#E8E8E8;
  border-style: solid;
}

.logo {
  height: 100%;
  object-fit: contain;
}

.nav-bar {
  display: flex;
  a {
    margin: 0 1em;
    align-self: flex-end;
  }
}