.landing {
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-text {
  text-align: right;
  font-style: italic;
  padding-right: 2rem;
  padding-left: 2rem;
}

.logo {
  max-width: 800px;
  object-fit: contain;
  padding-right: 2rem;
  padding-left: 2rem;
}
